<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag("application", :media => "all", "data-turbolinks-track" => true) %>
    <%= javascript_include_async_tag("application", "data-turbolinks-track" => true) %>

    <%= yield(:head) %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="BMC">

    <%= csrf_meta_tags %>

    <title>
      <%= strip_tags(yield(:title)) + " – " if content_for?(:title) %>
      Breakthrough Men's Community
    </title>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
